<div class="container p-3">
    <div class="row">
        <nav class="d-flex justify-content-between">

            <div>
                <a href="/" class="text-dark text-decoration-none">
                    Checkpoint express
                </a>
            </div>

            <ul class="d-flex gap-5">
                <li style="list-style-type: none;">
                    <a href="/" class="text-decoration-none text-dark">
                        Home
                    </a>
                </li>
        
                <li style="list-style-type: none;">
                    <a href="/services" class="text-decoration-none text-dark">
                        Services
                    </a>
                </li>
        
                <li style="list-style-type: none;">
                    <a href="/contact"  class="text-decoration-none text-dark">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

