<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../pagePartials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../pagePartials/header'); %>
</header>

<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Bienvenue sur la page de contact</h1>
            <p>Contactez au 07 494 908 35 & jean.elossy@gmail.com</p>
        </div>
    </div>
</div>

<footer>
    <%- include('../pagePartials/footer'); %>
</footer>

</body>
</html>