<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Syntaxe ejs -->
        <%- include('../pagePartials/head') %>
    </head>

    <body>
        <div class="container-fluid">
            <header>
                <!-- Syntaxe ejs -->
                <%- include('../pagePartials/header'); %>
            </header>
        </div>
        
        <div class="container">
            <div>
                <h1>Bienvenue sur la page d'acceuil</h1>
            </div>
        </div>

        <div class="container-fluid ">
            <footer>
                <!-- Syntaxe ejs -->
                <%- include('../pagePartials/footer'); %>
            </footer>
        </div>
    </body>
</html>



