<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../pagePartials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../pagePartials/header'); %>
    </header>

    <div class="row">
        <div class="col-sm-8">
            <div>
                <h1>Bienvenue sur la pages des services</h1>
                <p>Je suis developpeur full-stack junior react/node</p>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../pagePartials/footer'); %>
    </footer>

</body>
</html>